.gradle
/local.properties
/env.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

*.apk
*.ap_

*.dex

*.class

*.o
*.so

app/app.iml

bin/
gen/

.gradle/
build/

local.properties

Thumbs.db

.idea/
.idea/workspace.xml
.idea/modules.xml
.idea/libraries
.idea/runConfigurations.xml

toggletoggle.iml

release/